/* Esto pinta todo el fondo de la web */
body {
  margin: 0;
  background-color: #0c2c36;
  color: white;
  min-height: 100vh;
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Contenido {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.main-footer {
  background-color: #081d24;
  text-align: center;
  padding: 15px;
  border-top: 2px solid #89b044;
}