    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    #header {
        width: 100%;
        height: auto;
    }

    .Encabezado {
        background-color: #89b044;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100vw;
        left: 0;
    }

    .Logo img {
        height: 60px;
        width: auto;
    }

    .Menu ul {
        list-style: none;
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

    .Menu li {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'Segoe UI', sans-serif;
        transition: color 0.3s ease;
    }

    .Menu li:hover {
        color: #0c2c36;
    }